---
import config from "@/config/config.json";

const { src, srcDarkmode }: { src?: string; srcDarkmode?: string } =
  Astro.props;
const {
  logo,
  logo_darkmode,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_darkmode: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;

const { theme_switcher }: { theme_switcher: boolean } = config.settings;

// 确定最终使用的logo路径
const lightLogo = src || logo;
const darkLogo = srcDarkmode || logo_darkmode;
---

<a href="/" class="navbar-brand inline-block">
  {
    lightLogo || darkLogo ? (
      <>
        <img
          src={lightLogo}
          class={`inline-block ${theme_switcher && "dark:hidden"}`}
          width={logo_width.replace("px", "")}
          height={logo_height.replace("px", "")}
          alt={title}
          style={{
            height: logo_height.replace("px", "") + "px",
            width: "auto", // SVG自动适应宽度
          }}
        />

        {theme_switcher && (
          <img
            src={darkLogo}
            class="hidden dark:inline-block"
            width={logo_width.replace("px", "")}
            height={logo_height.replace("px", "")}
            alt={title}
            style={{
              height: logo_height.replace("px", "") + "px",
              width: "auto", // SVG自动适应宽度
            }}
          />
        )}
      </>
    ) : logo_text ? (
      <span class="text-2xl font-bold">{logo_text}</span>
    ) : (
      <span class="text-2xl font-bold">{title}</span>
    )
  }
</a>
